$me-red: rgb(170,0,0);
$me-yellow: #ffcc00;
$me-off-white: rgb(255,245,240);
$me-blue: rgb(0,50,170);
$me-grey: rgb(120, 120, 140);
$me-navy-blue: rgb(18, 29, 35);
$me-link-colour: $me-yellow;
