@use 'colours';
@use 'measurements';
@use 'mixins';
@use 'typography';
@use 'sass:math';

body {
  background: colours.$me-navy-blue;
  color: colours.$me-off-white;
  position: relative;
}

img {
  max-width: 100%;
}

.me-visually-hidden {
  position:absolute !important;
  width:1px !important;
  height:1px !important;
  margin:0 !important;
  padding:0 !important;
  overflow:hidden !important;
  clip:rect(0 0 0 0) !important;
  -webkit-clip-path:inset(50%) !important;
  clip-path:inset(50%) !important;
  border:0 !important;
  white-space:nowrap !important
}

.me-page-header {
  padding: measurements.me-gutter(2) 0 measurements.me-gutter(3) 0;
  overflow: hidden;
  position: relative;

  &__logo {
    text-transform: uppercase;
    color: colours.$me-navy-blue;
    background: colours.$me-yellow;
    text-decoration: none;
    padding: 0.4em 0.75em 0.5em 0.75em;
    @include mixins.me-heading-font('l');
  }
}

.me-hr {
  border: none;
  border-bottom: 6px solid colours.$me-yellow;
}

.me-heading-section {
  padding-bottom: measurements.me-gutter();
}

.me-page-footer {
  padding: measurements.me-gutter(1) 0 measurements.me-gutter(3) 0;
  overflow: hidden;
  position: relative;

  &__row {
    padding-top: measurements.me-gutter(3);
  }

  &__logo {
    text-transform: uppercase;
    color: colours.$me-navy-blue;
    background: colours.$me-yellow;
    text-decoration: none;
    padding: 0.4em 0.5em 0.5em 0.5em;
    @include mixins.me-heading-font('l');
  }
}

.nuxt-content {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: measurements.me-gutter(math.div(2,3));

    @include mixins.breakpoint(sm) {
      margin-bottom: measurements.me-gutter(1);
    }
  }

  iframe {
    margin-bottom: measurements.me-gutter(math.div(2,3));

    @include mixins.breakpoint(sm) {
      margin-bottom: measurements.me-gutter(1);
    }
  }
}
