.me-page-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: me-gutter();
  grid-row-gap: me-gutter();
  padding-bottom: me-gutter();

  @include breakpoint(md) {
    grid-template-columns: 1fr 1fr;
  }

  $me-page-grid-card-padding: me-gutter();
  $me-page-grid-card-padding-mobile: me-gutter(0.5);

  &__card {
    background: $me-yellow;
    padding: $me-page-grid-card-padding;
    text-decoration: none;
    color: $me-navy-blue;

    @include breakpoint(xs) {
      padding: $me-page-grid-card-padding-mobile
    }
  }

  &__page-image {
    width: calc(100% + #{me-gutter(2)});
    height: 0;
    padding-top: 66.66%;
    background-size: cover;
    background-position: center;
    margin: -#{$me-page-grid-card-padding};
    margin-bottom: $me-page-grid-card-padding;

    @include breakpoint(xs) {
      width: calc(100% + #{me-gutter()});
      margin: -#{$me-page-grid-card-padding-mobile};
      margin-bottom: $me-page-grid-card-padding-mobile;
    }
  }

  &__page-name {
    color: $me-navy-blue;
    text-decoration: none;
    @include breakpoint(xs) {
      margin-top: me-gutter(0.6)
    }
  }

  &__page-description {
    margin: 0;
    @include me-heading-font('l', 'normal')
  }
}
