@use 'measurements';
@use 'colours';
@use 'mixins';

.me-page-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: measurements.me-gutter();
  grid-row-gap: measurements.me-gutter();
  padding-bottom: measurements.me-gutter();

  @include mixins.breakpoint(md) {
    grid-template-columns: 1fr 1fr;
  }

  $me-page-grid-card-padding: measurements.me-gutter();
  $me-page-grid-card-padding-mobile: measurements.me-gutter(0.5);

  &__card {
    background: colours.$me-yellow;
    padding: $me-page-grid-card-padding;
    text-decoration: none;
    color: colours.$me-navy-blue;

    @include mixins.breakpoint(xs) {
      padding: $me-page-grid-card-padding-mobile
    }
  }

  &__page-image {
    width: calc(100% + #{measurements.me-gutter(2)});
    height: 0;
    padding-top: 66.66%;
    background-size: cover;
    background-position: center;
    margin: -#{$me-page-grid-card-padding};
    margin-bottom: $me-page-grid-card-padding;

    @include mixins.breakpoint(xs) {
      width: calc(100% + #{measurements.me-gutter()});
      margin: -#{$me-page-grid-card-padding-mobile};
      margin-bottom: $me-page-grid-card-padding-mobile;
    }
  }

  &__page-name {
    color: colours.$me-navy-blue;
    text-decoration: none;
    @include mixins.breakpoint(xs) {
      margin-top: measurements.me-gutter(0.6)
    }
  }

  &__page-description {
    margin: 0;
    @include mixins.me-heading-font('l', 'normal')
  }
}
