.me-toggle {
  &__input {
    @extend .me-visually-hidden;

    &:checked + .me-toggle__label {
      padding-left: 1.5em;

      &:before {
        width: 1em;
        border-radius: 0;
        background: white;
        border-width: 2px;
        border-style: solid;
        border-color: black #808080 #808080 black;
        outline: 1px solid black;
      }

      &:after {
        content: '';
        border-radius: 0;
        border-width: 3px;
        border-style: solid;
        border-color: transparent transparent black black;
        background: transparent;
        transform: rotate(-45deg);
        width: 0.7em;
        height: 0.4em;
        left: 0.16em;
        top: 0.3em;
      }
    }
  }

  &__label {
    position: relative;
    padding-left: 2.5em;

    &:before {
      content: '';
      display: block;
      width: 2em;
      height: 1em;
      border-radius: 1em;
      background: rgba(0,0,0,0.9);
      position: absolute;
      top: 0.15em;
      left: 0;
    }

    &:after {
      content: '';
      display: block;
      width: 0.8em;
      height: 0.8em;
      border-radius: 0.8em;
      background: #ccc;
      position: absolute;
      top: 0.25em;
      left: 0.1em;
      transition: left 0.1s, background 0.1s;
    }
  }
}
