@use 'measurements';
@use 'colours';
@use 'mixins';
@use 'sass:math';

//@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400,800&family=Source+Sans+3:wght@300;600&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html, body, input, textarea, select, button {
  @include mixins.me-body-font("m");
}

.me-90s-mode {
  font-family: 'Times New Roman', serif;
  -webkit-font-smoothing: none;
}

.me-heading {
  &--xxl {
    margin: measurements.me-gutter(1.5) 0 measurements.me-gutter() 0;
    @include mixins.me-heading-font($size: 'xxl');
  }

  &--xl {
    margin: measurements.me-gutter(1.5) 0 measurements.me-gutter(math.div(2,3)) 0;
    @include mixins.me-heading-font($size: 'xl');
  }

  &--l {
    margin: measurements.me-gutter() 0 measurements.me-gutter(math.div(1,3)) 0;
    @include mixins.me-heading-font($size: 'l');
  }

  &--m {
    margin: measurements.me-gutter(math.div(1,3)) 0 measurements.me-gutter(math.div(1,3)) 0;
    @include mixins.me-heading-font($size: 'm');
  }

  &--s {
    @include mixins.me-heading-font($size: 's');
  }

  &--xs {
    @include mixins.me-heading-font($size: 'xs');
  }

  &--page-title {
    color: colours.$me-yellow;
    @include mixins.breakpoint(xs) {
      margin-top: 0;
    }
  }
}

.me-subheading {
  display: block;
  color: white;
  opacity: 0.75;
  letter-spacing: 0;
  margin-top: measurements.me-gutter(0.5);
  @include mixins.me-heading-font("xxl", "normal");

  &--inline {
    display: inline;
  }

  &--50 {
    font-size: 0.5em;
  }
}

p {
  margin-bottom: measurements.me-gutter(math.div(2,3));
  line-height: 1.6em;

  @include mixins.breakpoint(sm) {
    margin-bottom: measurements.me-gutter(1);
  }
}

a {
  color: colours.$me-link-colour;
  text-decoration-thickness: 2px;
  @include mixins.me-focusable;
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace
}

.nuxt-content {
  h2 {
    @extend .me-heading;
    @extend .me-heading--xl;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  h3 {
    @extend .me-heading;
    @extend .me-heading--l;
  }

  h4 {
    @extend .me-heading;
    @extend .me-heading--m;
  }

  h5 {
    @extend .me-heading;
    @extend .me-heading--s;
  }

  strong {
    font-weight: 600;
  }

  ul {
    list-style-type: disc;
    margin-bottom: measurements.me-gutter(math.div(2,3));
    padding-left: 1.5em;

    @include mixins.breakpoint(sm) {
      margin-bottom: measurements.me-gutter(1);
    }

    li {
      margin-bottom: measurements.me-gutter(math.div(1,2));
    }
  }

  .twitter-tweet:not(.twitter-tweet-rendered) {
    border: 2px solid colours.$me-grey;
    padding: measurements.me-gutter(1);
    margin-bottom: measurements.me-gutter(1);
  }
}
