@import 'measurements';
@import 'colours';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400,800&family=Source+Sans+3:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html, body, input, textarea, select, button {
  @include me-body-font("m");
}

.me-90s-mode {
  font-family: 'Times New Roman', serif;
  -webkit-font-smoothing: none;
}

.me-heading {
  &--xxl {
    @include me-heading-font($size: 'xxl');
    margin: me-gutter(1.5) 0 me-gutter() 0;
  }

  &--xl {
    @include me-heading-font($size: 'xl');
    margin: me-gutter(1.5) 0 me-gutter(2/3) 0;
  }

  &--l {
    @include me-heading-font($size: 'l');
    margin: me-gutter() 0 me-gutter(1/3) 0;
  }

  &--m {
    @include me-heading-font($size: 'm');
    margin: me-gutter(2/3) 0 me-gutter(1/3) 0;
  }

  &--s {     @include me-heading-font($size: 's');
  }
  &--xs {     @include me-heading-font($size: 'xs');
  }

  &--page-title {
    color: $me-yellow;
    @include breakpoint(xs) {
      margin-top: 0;
    }
  }
}

.me-subheading {
  @include me-heading-font("xxl", "normal");
  display: block;
  color: white;
  opacity: 0.75;
  letter-spacing: 0;
  margin-top: me-gutter(0.5);

  &--inline {
    display: inline;
  }

  &--50 {
    font-size: 0.5em;
  }
}

p {
  margin-bottom: me-gutter(2/3);
  line-height: 1.6em;

  @include breakpoint(sm) {
    margin-bottom: me-gutter(1);
  }
}

a {
  color: $me-link-colour;
  text-decoration-thickness: 2px;
  @include me-focusable;
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace
}

.nuxt-content {
  h2 {
    @extend .me-heading;
    @extend .me-heading--xl;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  h3 {
    @extend .me-heading;
    @extend .me-heading--l;
  }

  h4 {
    @extend .me-heading;
    @extend .me-heading--m;
  }

  h5 {
    @extend .me-heading;
    @extend .me-heading--s;
  }

  strong {
    font-weight: 600;
  }

  ul {
    list-style-type: disc;
    margin-bottom: me-gutter(2/3);
    padding-left: 1.5em;

    @include breakpoint(sm) {
      margin-bottom: me-gutter(1);
    }

    li {
      margin-bottom: me-gutter(1/2);
    }
  }

  .twitter-tweet:not(.twitter-tweet-rendered) {
    border: 2px solid $me-grey;
    padding: me-gutter(1);
    margin-bottom: me-gutter(1);
  }
}
